{% extends "base.html" %}
{% block content %} 
{% load cart %}
{% load custom_filter %}

<div class="container">
    <div class="border rounded p-4 m-4 shadow-sm bg-light">
        <h2 class="display-5 text-center text-dark font-weight-bold">Your Orders</h2>
        
        <!-- Add table-responsive class to make the table scrollable on small screens -->
        <div class="table-responsive">
            <table class="table mt-4">
                <thead class="thead-dark">
                    <tr>
                        <th>Sno.</th>
                        <th>Image</th>
                        <th>Product</th>
                        <th>Date</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Total</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in orders %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>
                            <img style="height: 80px;" class="rounded-circle" src="{{ order.Product.Image.url }}" alt="Product Image">
                        </td>
                        <td>{{ order.Product.Name }}</td>
                        <td>{{ order.Date }}</td>
                        <td>{{ order.Price|currency }}</td>
                        <td>{{ order.Quantity }}</td>
                        <td>{{ order.Quantity|multiply:order.Price|currency }}</td>
                        <td>
                            {% if order.Status %} 
                            <span class="badge badge-pill badge-success p-3" style="background-color: #28a748; color: white;">Completed</span>
                            {% else %}
                            <span class="badge badge-pill badge-warning p-3" style="background-color: #ffc107; color: white;">Pending</span>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}
